* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.item {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #E94141;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 0;
    text-align: left;
    width: 100%;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.square-button {
    border-radius: 5px;
    width: 100px;
    height: 32px;
    color: #BEB6B6;
    border: 1px solid #E94141;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 60px;
    margin-top: -10pxpx;
}

.all-button {
    color: #E94141;
}

.price-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    width: 100%;
    position: absolute;
    margin-top: 490px;
    margin-bottom: -140px;
}

.image-container {
    border-radius: 10px;
    width: 45vw;
    height: 22vh;
    background-color: rgba(233, 65, 65, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}

.price-container .image-container:nth-last-child(-n+2) {
    margin-bottom: 10px;
}

.image-container:first-of-type {
    border-radius: 10px;
    width: 45vw;
    height: 22vh;
    background-color: rgba(233, 65, 65, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); 
}

.image-container:not(:first-of-type) {
    box-shadow: none;
}

.image-container img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.image-container p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Voltaire', sans-serif;
    margin: 0;
    line-height: 1.2;
    text-align: center;
}

.heart-container {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.heart-image {
    width: 20px;
    height: 20px;
    object-fit: contain;
    background-color: transparent;
}
.change-button, .back-button {
    width: 60px;
    height: 40px;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    z-index: 10;
}


.change-button {
    bottom: 5px;
    right: 10px;
}


.back-button {
    bottom: 5px;
    left: 10px;
    background-color: #ccc;
}