* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    margin: 0;
    overflow: hidden; 
}

.container {
    background-color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: visible; 
}

.item {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #E94141;
    margin-top: 10px;
    margin-bottom: 45px;
    padding-left: 20px;
    text-align: left;
    width: 100%;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    text-align: center;
    margin-bottom: 28px;
    justify-content: space-between; 
}

.square-button {
    border-radius: 5px;
    left: -10px;
    width: 105px;
    height: 32px;
    color: #BEB6B6;
    border: 1px solid #E94141;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.all-button {
    color: #E94141;
}
.price-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; 
    width: 100%;
    position: relative; 
}

.image-container {
    border-radius: 10px;
    width: 45vw;
    height: 26.5vh;
    background-color: rgba(233, 65, 65, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.first-container {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.image-container img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.image-link {
    text-decoration: none;
    color: inherit; 
}

.image-link:hover {
    text-decoration: none; 
}

.image-container p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Voltaire', sans-serif;
    margin: 0;
    line-height: 1.2;
    text-align: center;
}
.currency {
    color: #F7BA83;
}


.heart-container {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.heart-image {
    width: 20px;
    height: 20px;
    object-fit: contain;
    background-color: transparent;
}

.back-button {
    width: 20px;
    height: 20px;
    color: #a8a1a1; 
    text-decoration: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    position: absolute; 
    right: 15px; 
    top: 5px;
    background-color: transparent; 
    border: none; 
    box-shadow: none;
}
