* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.container {
    background-color: #F9F7F6;
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin: 0;
    height: auto; 
}

.image-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; 
}

.image-container {
    width: 95vw;
    height: 50vh;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgba(233, 65, 65, 0.1);
    box-sizing: border-box;
    margin-left: 8px; 
    margin-right: 10px; 
    margin-bottom: 18px;
    margin-top: -20px;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.image-container img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left; 
}

.title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
}

.title, .title2 {
    text-align: left; 
    margin-left: 10px;     
    font-family: 'Voltaire', sans-serif;
}

.title {
    font-size: 35px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 7px;
    color: black;
    margin-left: 20px;
}

.title2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
    color: black;
    margin-left: 25px;
}

.content {  
    color: #050505;
    line-height: 31;
    margin-bottom: 25px;
}

.content1 {
    color: rgba(0, 0, 0, 0.57); 
    font-size: 25px;
    font-family: 'Voltaire', sans-serif;
    padding-left: 12.5px;
    margin-left: 30px;
    margin-bottom: 25px;
}

.content2 {
    color: black; 
    font-size: 25px;
    font-family: 'Voltaire', sans-serif;
    margin-left: 30px;
}
.content2 del {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.57);
}

.item1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.last-content {
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 0.57);
    margin-left: 20px;
    line-height: 1.5;
    font-family: 'Voltaire', sans-serif;
    margin-bottom: 20px;
}

.input-button1 {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    gap: 5px; 
    padding-left: 10px; 
    width: 100%; 
    box-sizing: border-box; 
}

.heart-container {
    width: 45px; 
    height: 45px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 20px; 
}

.heart-image {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    margin-left: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 72vw; 
    height: 54px; 
    background-color: #E94141; 
    border-radius: 5px; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
    box-sizing: border-box;
}

.click-button {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #FEFEFE;
    text-decoration: none;
}

