* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}
.container {
    background-color: #F9F7F6;
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.item {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin: 0;
}

.image-container {
    width: 95vw;
    height: 45vh;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgba(233, 65, 65, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-left: 5.5px; 
    margin-right: 7.5px; 
    margin-bottom: 20px;
    margin-top: -35px;
}

.image-container img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left; 
}

.title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
}

.title, .title2 {
    text-align: left; 
    margin-left: 0;     
    font-family: 'Voltaire', sans-serif;
}

.title {
    font-size: 35px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 6px;
    color: black;
    padding-left: 12px;
}

.title2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
    color: black;
    padding-left: 12px;
}



.content {  
    color: #050505;
    line-height: 31;
    margin-bottom: 23px;
}

.content1 {
    color: rgba(0, 0, 0, 0.57); 
    font-size: 25px;
    font-family: 'Voltaire', sans-serif;
    padding-left: 12.5px;
}

.content2 {
    color: black; 
    font-size: 25px;
    font-family: 'Voltaire', sans-serif;
}

.item1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.last-content {
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 0.57);
    margin-bottom: 20px;
    padding-left: 12px;
    padding-right: 20px;
    line-height: 1.5;
    font-family: 'Voltaire', sans-serif;
}
.input-button1 {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    gap: 5px; 
    padding-left: 10px; 
    width: 100%; 
    box-sizing: border-box; 
  
}

.heart-container {
    width: 35px; 
    height: 35px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 20px; 
}

.heart-image {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
    margin-bottom: 55px;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 80vw; 
    height: 54px; 
    background-color: #E94141; 
    border-radius: 5px; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 55px;
}

.click-button {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: white;
    
}
.back-button {
    width: 60px;
    height: 40px;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    z-index: 10;
}
.back-button {
    bottom: 5px;
    left: 10px;
    background-color: #ccc;
}